/*
Russian blue pattern:
#7be3f6
#4499a9
#276a76
#133b43
#03090a
*/
svg g {
  fill: rgba(104, 84, 162, 0.1);
  fill-opacity: 0.6;
}
svg polygon:hover {
  fill: rgba(123, 227, 246, 0.85);
  fill-opacity: 0.7;
}

svg g polygon {
  stroke: rgba(89, 89, 89, 0.43);
  stroke-width: 1;
  transition: fill-opacity .5s;
}
svg g text {
  font-size: 20px;
  fill: black;
}
svg path {
  pointer-events:none;
  fill: none;
  stroke: #7be3f6;
  stroke-width: 1em;
  stroke-opacity: 0.7;
  stroke-linecap: round;
  stroke-linejoin: round;
}

svg image {
  pointer-events: none;
}

svg g.case-drag-focus polygon {
  stroke: rgba(67, 152, 74, 0.9);
  stroke-width: 1;
  fill: rgba(88, 231, 100, 0.62);
  fill-opacity: 0.7;
  transition: fill-opacity .5s;
}

svg g.case-drag-focus-not-allowed polygon {
  stroke: #181c1f;
  stroke-width: 1;
  fill: rgba(34, 38, 40, 0.76) !important;
  fill-opacity: 0.7 !important;
  transition: fill-opacity .5s;
}

svg g.territory-owned polygon {
  fill: rgba(196, 43, 43, 0.68);
  fill-opacity: 0.6;
}

svg g.territory-owned-current polygon {
  fill: rgba(117, 185, 204, 0.78);
  fill-opacity: 0.6;
}