img.img-disabled {
  -webkit-filter: grayscale(2);
  filter: grayscale(2);
  opacity: 0.5;
}

/* Disable grayscale on hover */
img:hover:not(.img-disabled) {
  -webkit-filter: brightness(1.3);
  filter: brightness(1.3);
}